<div class="container">
  <h1>Add a new list</h1>
  <%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, class: 'btn btn-primary' %>
  <%= link_to 'Back to lists', lists_path, class: 'btn btn-success' %>
  <% end %>
</div>
