.card {
  background-size: cover;
  width: 350px;
  height: 250px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: x-large;
  font-weight: bolder;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}
